:root {
  /*Fonts*/

  --title-font: 'Dosis', sans-serif, Arial, Helvetica, sans-serif;
  --body-font: 'M PLUS Rounded 1c', sans-serif, 'Times New Roman', Times, serif;

  --viewport-multiplier: 0.7;

  /* Colors */
  --opacity: 0.8;

  --hex-c1: #1EA5E9;
  --c1: 30, 165, 233;
  --color-c1: rgb(var(--c1));
  --color-c1-trans: rgba(var(--c1), var(--opacity));

  --hex-c1a: #146d99;
  --c1a: 20, 109, 153;
  --color-c1a: rgb(var(--c1a));
  --color-c1a-trans: rgba(var(--c1a), var(--opacity));

  --hex-c2: #D3F4F9;
  --c2: 211, 244, 249;
  --color-c2: rgb(var(--c2));
  --color-c2-trans: rgba(var(--c2), var(--opacity));

  --hex-c3: #FD5911;
  --c3: 253, 89, 17;
  --color-c3: rgb(var(--c3));
  --color-c3-trans: rgba(var(--c3), var(--opacity));

  --hex-c4: #FF8217;
  --c4: 255, 130, 23;
  --color-c4: rgb(var(--c4));
  --color-c4-trans: rgba(var(--c4), var(--opacity));

  --hex-c5: #FFA41D;
  --c5: 255, 164, 29;
  --color-c5: rgb(var(--c5));
  --color-c5-trans: rgba(var(--c5), var(--opacity));
}

/* FOR DEVELOPMENT */
/* * {
  border: 3px dotted rgb(0, 247, 255);
  background-color: #ff000036;
  padding: 10px;
}

html {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

#root {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

body {
  background-color: rgba(0, 0, 0, 0);
  border: none;
} */


/* USER AGENT STYLE SHEET OVERIDES */
p {
  margin: 0;
}

a {
  text-decoration: none;
}

/* Bespoke CSS begins */
body {
  font-family: var(--title-font);
  background-image: url(./assets/images/sky-background2.png);
  background-size: cover;
  background-attachment: fixed;

}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}

h1 {
  font-size: calc(var(--viewport-multiplier)*40px);
  margin: calc(var(--viewport-multiplier)*20px);
}

h2 {
  font-size: calc(var(--viewport-multiplier)*30px);
  margin: calc(var(--viewport-multiplier)*15px);
}

h3 {
  font-size: calc(var(--viewport-multiplier)*25px);
  margin: calc(var(--viewport-multiplier)*14px);
}

h4 {
  font-size: calc(var(--viewport-multiplier)*34px);
  margin: calc(var(--viewport-multiplier)*12px);
}

h5 {
  font-size: calc(var(--viewport-multiplier)*16px);
  margin: calc(var(--viewport-multiplier)*12px);
  margin-bottom: calc(var(--viewport-multiplier)*0px);

}

p,
.body-text {
  font-size: calc(var(--viewport-multiplier) * 20px);
  padding: 10px;
}

.site-container {
  min-height: 97vh;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1.5vh;
}



.brand-title {
  color: white;
  text-shadow: -1px -1px 0 var(--color-c1), 1px -1px 0 var(--color-c1), -1px 1px 0 var(--color-c1), 1px 1px 0 var(--color-c1), -2px -2px 10px var(--color-c1), 2px -2px 10px var(--color-c1), -2px 2px 10px var(--color-c1), 2px 2px 10px var(--color-c1);
}

h1.brand-title {
  font-size: calc(var(--viewport-multiplier) * 40px);
}

.brand-text {
  font-family: var(--body-font);
  color: var(--color-c1a);
}

.brand-bg-color {
  background-image: linear-gradient(to bottom right, var(--color-c3-trans), rgba(255, 255, 255, var(--opacity)), rgba(255, 255, 255, var(--opacity)), var(--color-c2-trans), var(--color-c1-trans), var(--color-c1-trans), var(--color-c3-trans), var(--color-c5-trans), rgba(255, 255, 255, var(--opacity)), rgba(255, 255, 255, var(--opacity)), rgba(255, 255, 255, var(--opacity)));
  border-color: var(--color-c2);
}

.title-body-bg-color {
  border-color: var(--color-c2);
  background-color: var(--color-c2);
}

.body-bg-color {
  border-color: var(--color-c2);
  background-color: var(--color-c2-trans);
}


.signup-class h3 {
  font-size: 120%;
  color: #6185fbb4;
}

button[type="submit"] {
  margin-bottom: 3vh;
}

/* NAVBAR */



.laptop-navbar {
  /* Positon */
  z-index: 100;
  position: fixed;
  top: 1vh;
  right: 1.6vw;

  /* Display */
  display: flex;
  justify-content: space-between;

  /* Size */
  width: 25vw;
}

.laptop-nav-div {
  height: 60px;
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.laptop-nav-icon {
  height: 40px;
}

.laptop-nav-icon:hover {
  height: 60px;
  transition: 0.1s ease-in;
}

.tablet-navbar {
  /* Positon */
  z-index: 100;

  position: fixed;
  bottom: 1vh;
  right: 50%;
  transform: translate(50%, 0%);

  /* Display */
  display: flex;
  justify-content: space-between;
  /* Size */
  width: 65vw;
}

.tablet-nav-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tablet-nav-icon {
  height: 48px;
}

.tablet-nav-icon:hover {
  height: 60px;
  transition: 0.1s ease-in;
}


.mobile-navbar {
  /* for development*/

  /* Positon */
  z-index: 100;
  position: fixed;
  bottom: 6vh;
  right: 1vw;
  transform: translate(0%, 0%);

  /* Display */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Size */
  min-height: 30vh;

  /*Font*/
  font-size: 0.6em;
}

.mobile-nav-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-nav-icon {
  height: 38px;
  mix-blend-mode: multiply;
}

.tablet-navbar,
.mobile-navbar {
  display: none;
}

/*VIEW STYLES*/
.main-class {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-class {}

.outer-div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 24px);
  padding: 10px;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  z-index: 10;
}

.inner-div {
  overflow: hidden;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.home-outer-div {}

.home-inner-div {
  background-size: cover;
  background-image: url(./assets/images/search-table.jpg);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-space-around {
  justify-content: space-around;
}

/* HEADER */

.header-class {}

/*HOME PAGE -------------------------- */

.homepage-dog {
  height: 40vh;
  width: 40vh;
  border: 2px solid white;
  border-radius: 3px;
  object-fit: cover;
  margin: 20px;
}

/* REPORT STYLES */

.input-file {
  opacity: 80%;
  background-color: chartreuse;
  position: absolute;
  right: -0;
  transform: translate(50%, 0%);
  opacity: 0;
  width: 0px;
  height: 0px;
  margin: -1px;
  overflow: hidden;
}

.input-file-label,
.custom-btn {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  font-size: calc(var(--viewport-multiplier) * 14px);
  font-weight: bold;
  color: var(--color-c1a);
  background-color: var(--color-c4);
  border-radius: 5px;
  border-width: 2px;
  text-decoration: none;

}

.custom-btn:hover {
  color: white;
  background-color: var(--color-c1a-trans);
}

#upload-thumbnail {
  max-height: 50px;
  max-width: 50px;
}

/* FORM STYLES */
form,
form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(var(--viewport-multiplier) * 6px);
  width: 100%;
  z-index: 5;
}

.create-report-class {
  width: 50%;
}

.signup-class,
.create-report-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

form textarea {
  margin-top: 20px;
  width: 75%;
  text-align: center;

}

.form-error-div {
  color: var(--color-c3-trans);
  font-weight: bold;
  font-size: calc(var(--viewport-multiplier) * 18px);
  ;
  height: 1em;
}

.form-error-div p {
  position: relative;
  top: -60%;
}

button {
  border: none;
}

::placeholder {
  color: var(--color-c1a-trans);
  text-transform: uppercase;
}

input {
  font-family: var(--body-font);
  font-size: calc(var(--viewport-multiplier)16px);
  background-color: rgba(204, 204, 204, 0);
  border: none;
  border-bottom: 1px solid black;
  margin: calc(var(--viewport-multiplier) * 17px);
  width: 80%;
  text-align: center;
}

textarea {
  font-family: var(--body-font);
  font-size: calc(var(--viewport-multiplier)12px);

}

/* SUB COMPONENTS */
.map-div {
  display: block;
  height: 78vw;
  width: 78vw;
  max-height: 600px;
  max-width: 800px;
}

.sub-comp-section {
  width: 95%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
}

.sub-comp-outer-div {
  background-color: var(--color-c5);
  height: 125px;
  width: 45%;
  min-width: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  border-width: 0px;
  border-style: solid;
  padding: 0.1vw;
  margin: calc(var(--viewport-multiplier) * 5px);
  z-index: 5;
}

.sub-comp-inner-div {
  background-image: url(./assets/images/rpt-preview-bg.png);
  background-size: cover;
  background-position: right bottom;
  width: 100%;
  height: 100%;
  position: static;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  border-width: 0px;
  border-style: solid;

}

.rpt-preview-div {
  font-size: calc(12 * var(--viewport-multiplier));
}

.rpt-preview-div img {
  background-color: white;
  border: 2px solid var(--color-c2);
  border-radius: 3px;
  width: 30%;
  height: 80%;
  margin: 1.4vh;
  object-fit: cover;
}

.rpt-preview-text-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
  height: 95%;
  max-width: 65%;
  font-size: calc(16 * var(--viewport-multiplier));
  overflow: hidden;

}

.rpt-preview-pet-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  max-width: 90%;
  height: 50%;
  font-size: calc(var(--viewport-multiplier) 28px);
  font-weight: bold;
  vertical-align: bottom;
  text-shadow: -1px -1px 3px rgb(70, 70, 70), 1px -1px 3px rgb(70, 70, 70), -1px 1px 3px rgb(70, 70, 70), 1px 1px 3px rgb(70, 70, 70);
}

.rpt-preview-last-seen {
  margin-top: calc(var(--viewport-multiplier)*7px);
  color: var(--color-c1a-trans);
  max-width: 80%;
  height: 50%;
  font-size: calc(var(--viewport-multiplier) 18px);
  text-align: justify;
}

.poster-title {
  margin: 0px;
  padding-left: calc(var(--viewport-multiplier) * 0.49em);
  display: flex;
  justify-content: center;
  font-weight: lighter;
  letter-spacing: 0.5em;
  color: white;
  position: relative;
  bottom: 7%;
  left: 0;
  width: 80%;
  background-color: var(--color-c1a-trans);
  text-shadow: -1px -1px 0px var(--color-c2), 1px -1px 0px var(--color-c2), -1px 1px 0px var(--color-c2), 1px 1px 0px var(--color-c2);

}

.upper-dash-comp {
  height: 33%;
  width: 100%;
  overflow: hidden;
}

.lower-dash-comp {
  height: 66%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-sub-comp-outer-div {
  background-color: var(--color-c5);
  width: calc(100% - 10px);
  min-width: calc(100% - 10px);
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  border-width: 0px;
  border-style: solid;
  padding: 5px;
}

.dash-sub-comp-inner-div {
  background-color: var(--color-c5);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border-width: 0px;

}

.rpt-dashboard-div {
  font-size: calc(var(--viewport-multiplier) * 24px);
}

.rpt-dashboard-div img {
  background-color: white;
  border: 2px solid white;
  border-radius: 3px 3px 0 0;
  width: calc(100% - 4px);
  height: 20vh;
  object-fit: cover;
  object-position: 50% 25%;
  ;
}

.rpt-dashboard-pet-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  max-width: 90%;
  font-size: calc(var(--viewport-multiplier) 48px);
  font-weight: bold;
  text-shadow: -1px -1px 3px rgb(70, 70, 70), 1px -1px 3px rgb(70, 70, 70), -1px 1px 3px rgb(70, 70, 70), 1px 1px 3px rgb(70, 70, 70);
}

.rpt-dashboard-text-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
  max-width: 65%;
  font-size: calc(var(--viewport-multiplier)* 16px);
  overflow: hidden;

}



.footer-class {
  z-index: 0;
  display: relative;
  height: 2vh;
}

.footer-class p {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -0.0em);
  z-index: 2;
  display: relative;
  color: var(--color-c2-trans);
  font-size: calc(var(--viewport-multiplier) * 16px);

}

.footer-img {
  max-height: 20vh;
  min-width: 120vw;
  position: fixed;
  bottom: 0;
  right: -100px;
  z-index: 0;
  opacity: 0.5;
}


/* MEDIA SIZES */

/*Mobile Portrait*/
@media (min-width: 0px) and (max-width: 540px) and (max-height: 1000px) {
  :root {
    --viewport-multiplier: 1.0;
  }

  .mobile-navbar {
    display: flex;
  }

  .laptop-navbar,
  .tablet-navbar {
    display: none;
  }

  h1 {
    font-size: calc(var(--viewport-multiplier)*30px);
    margin: calc(var(--viewport-multiplier)*20px);
  }

  h4 {
    font-size: calc(var(--viewport-multiplier)*24px);
    margin: calc(var(--viewport-multiplier)*12px);
  }

  .create-report-class {
    width: 100%;
  }

  .homepage-dog {
    width: 75vw;
    height: 75vw;
  }
}

/*Mobile Landscape*/
@media (min-width: 540px) and (max-width: 1000px) and (max-height: 540px) {
  :root {
    --viewport-multiplier: 1.2;
  }

  .mobile-navbar {
    display: flex;
  }

  .laptop-navbar,
  .tablet-navbar {
    display: none;
  }
  .create-report-class {
    width: 80%;
  }
  .homepage-dog {
    width: 20vw;
    height: 20vw;
  }

  h1,
  h1.brand-title {
    font-size: calc(var(--viewport-multiplier)*20px);
    margin: calc(var(--viewport-multiplier)*8px);
  }

  h4 {
    font-size: calc(var(--viewport-multiplier)*18px);
    margin: calc(var(--viewport-multiplier)*4px);
  }
}


/*Tablet Portrait*/
@media (min-width: 768px) and (max-width: 940px) and (min-height: 541px) and (max-height: 1195px) {
  :root {
    --viewport-multiplier: 1.6;
  }

  .tablet-navbar {
    display: flex;
  }

  .laptop-navbar,
  .mobile-navbar {
    display: none;
  }

  .create-report-class {
    width: 88%;
  }
}


/*Tablet Landscape*/
@media (min-width: 940px) and (max-width: 1365px) and (max-height: 940px) {
  :root {
    --viewport-multiplier: 1.2;
  }

  .tablet-navbar {
    display: flex;
  }

  .laptop-navbar,
  .mobile-navbar {
    display: none;
  }
  .create-report-class {
    width: 70%;
  }
}


/*Laptop Landscape*/
@media (min-width: 1366px) {
  :root {
    --viewport-multiplier: 1.4;
  }
}