@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;600;700;800&family=M+PLUS+Rounded+1c:wght@100;300;400;700;900&family=Open+Sans:wght@400;700&family=Staatliches&display=swap');

:root {


  /*Fonts*/
  font-family: 'Dosis', sans-serif;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Staatliches', cursive;

  --title-font: 'Dosis', sans-serif, Arial, Helvetica, sans-serif;
  --body-font: 'M PLUS Rounded 1c', sans-serif, 'Times New Roman', Times, serif;

  --viewport-multiplier: 0.7;

  /* Colors */
  --opacity: 0.8;

  --hex-c1: #1EA5E9;
  --c1: 30, 165, 233;
  --color-c1: rgb(var(--c1));
  --color-c1-trans: rgba(var(--c1), var(--opacity));

  --hex-c1a: #146d99;
  --c1a: 20, 109, 153;
  --color-c1a: rgb(var(--c1a));
  --color-c1a-trans: rgba(var(--c1a), var(--opacity));

  --hex-c2: #D3F4F9;
  --c2: 211, 244, 249;
  --color-c2: rgb(var(--c2));
  --color-c2-trans: rgba(var(--c2), var(--opacity));

  --hex-c3: #FD5911;
  --c3: 253, 89, 17;
  --color-c3: rgb(var(--c3));
  --color-c3-trans: rgba(var(--c3), var(--opacity));

  --hex-c4: #FF8217;
  --c4: 255, 130, 23;
  --color-c4: rgb(var(--c4));
  --color-c4-trans: rgba(var(--c4), var(--opacity));

  --hex-c5: #FFA41D;
  --c5: 255, 164, 29;
  --color-c5: rgb(var(--c5));
  --color-c5-trans: rgba(var(--c5), var(--opacity));


}


body {
  font-size: 24px;
}


/* FOR DEVELOPMENT */
* {
  /* border: 3px dotted rgb(0, 247, 255);
  background-color: #ff000036; */
  /* padding: 10px; */
}

html {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

#root {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

body {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

/* USER AGENT STYLE SHEET OVERIDES */
p {
  margin: 0;
}

/* Bespoke CSS begins */
body {
  font-family: var(--title-font);
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}

h1 {
  font-size: calc(var(--viewport-multiplier)*40px);
  margin: calc(var(--viewport-multiplier)*20px);
}

h2 {
  font-size: calc(var(--viewport-multiplier)*30px);
  margin: calc(var(--viewport-multiplier)*15px);
}

h3 {
  font-size: calc(var(--viewport-multiplier)*25px);
  margin: calc(var(--viewport-multiplier)*10px);
}

h4 {
  font-size: calc(var(--viewport-multiplier)*22px);
  margin: calc(var(--viewport-multiplier)*8px);
}

h4 {
  font-size: calc(var(--viewport-multiplier)*20px);
  margin: calc(var(--viewport-multiplier)*8px);
}

h5 {
  font-size: calc(var(--viewport-multiplier)*16px);
  margin: calc(var(--viewport-multiplier)*8px);

}

.body-text {
  font-size: calc(var(--viewport-multiplier) * 20px);
  padding: 10px;
}

.site-container {
  /* background: linear-gradient(#3c5688, #58a8e7); */
  background-image: url(./assets/images/sky-background2.png);
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}



.brand-title {
  color: white;
  text-shadow: -1px -1px 0 var(--color-c1), 1px -1px 0 var(--color-c1), -1px 1px 0 var(--color-c1), 1px 1px 0 var(--color-c1), -2px -2px 10px var(--color-c1), 2px -2px 10px var(--color-c1), -2px 2px 10px var(--color-c1), 2px 2px 10px var(--color-c1);
}

h1.brand-title {
  font-size: calc(var(--viewport-multiplier) * 40px);
}

.brand-text {
  font-family: var(--body-font);
  color: var(--color-c1a);
  /* text-shadow: 1px 1px 0 #000; */
}

.brand-bg-color {
  /* background-color: var(--color-c1-trans); */
  background-image: linear-gradient(to bottom right, var(--color-c3-trans), rgba(255, 255, 255, var(--opacity)), rgba(255, 255, 255, var(--opacity)), var(--color-c2-trans), var(--color-c1-trans), var(--color-c1-trans), var(--color-c3-trans), var(--color-c5-trans), rgba(255, 255, 255, var(--opacity)), rgba(255, 255, 255, var(--opacity)), rgba(255, 255, 255, var(--opacity)));
  border-color: var(--color-c2);
}

.title-body-bg-color {
  border-color: var(--color-c2);
  background-color: var(--color-c2);
}

.body-bg-color {
  border-color: var(--color-c2);
  background-color: var(--color-c2-trans);
}




.error-div {
  color: red;
  font-weight: bold;
  height: 3vh;
  /* background-color: blue; */
}

.signup-class h3 {
  font-size: 120%;
  color: #6185fbb4;
}

button[type="submit"] {
  margin-bottom: 3vh;
}

/* NAVBAR */
.navbar-class {

  /* Positon */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  /* Display */
  display: contents;

  /* Size */
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba(0, 0, 0, 0);
}

.nav-link {}


@keyframes nav-link-present {
  0% {
    transform: translate(0%, 30%)
  }

  65% {
    transform: translate(0%, 40%)
  }

  100% {
    transform: translate(0%, 0%)
  }
}

.laptop-navbar {
  /* for development*/
  background-color: rgba(0, 255, 255, 0.541);

  /* Positon */
  z-index: 100;
  position: absolute;
  top: 1vh;
  right: 1.6vw;
  /* Display */
  display: flex;
  justify-content: space-between;
  /* Size */
  width: 35vw;
}

.laptop-nav-div {
  height: 60px;
  width: 60px;
  ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.laptop-nav-icon {
  height: 40px;
  /* mix-blend-mode: color-dodge; */
}

.laptop-nav-icon:hover {
  height: 60px;
  transition: 0.1s ease-in;

}

.tablet-navbar {
  /* for development*/
  /* border: 5px dotted rgb(0, 255, 242); */

  /* Positon */
  z-index: 100;

  position: absolute;
  bottom: 1vh;
  right: 50%;
  transform: translate(50%, 0%);

  /* Display */
  display: flex;
  justify-content: space-between;
  /* Size */
  width: 75vw;
}

.tablet-nav-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tablet-nav-icon {
  height: 58px;
  mix-blend-mode: multiply;
}

.mobile-navbar {
  /* for development*/
  /* border: 5px dotted rgb(0, 255, 242); */

  /* Positon */
  z-index: 100;
  position: absolute;
  bottom: 10vh;
  right: 1vw;
  transform: translate(0%, 0%);

  /* Display */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Size */
  height: 30vh;

  /*Font*/
  font-size: 0.6em;
}

.mobile-nav-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-nav-icon {
  height: 38px;
  mix-blend-mode: multiply;
}

.tablet-navbar,
.mobile-navbar {
  display: none;
}




/*VIEW STYLES*/
.main-class {
  display: flex;
  justify-content: center;

}


.outer-div {
  position: relative;
  width: 40vw;
  height: 80vh;
  padding: 10px;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  z-index: 10;
}

.inner-div {
  overflow: hidden;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.home-inner-div{
  background-size: cover;
  background-image: url(./assets/images/search-table.jpg);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-space-around {
  justify-content: space-around;
}

.full-column {
  width: 100%;
}

/* HEADER */

.header-class {
  height: 2vh;
}

/*HOME PAGE -------------------------- */

/* .dog-img-div {
  max-height: 30vh;
  max-width: 80%;
} */

.homepage-dog {
  height: 40vh;
  width: 40vh;
  border: 2px solid white;
  border-radius: 3px;
  object-fit: cover;
  /* margin: calc(var(--viewport-multiplier)*10); */

}

/* REPORT STYLES */
form.missing-pet-report {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
}

.input-file {

  opacity: 80%;
  background-color: chartreuse;
  position: absolute;
  right: -0;
  transform: translate(50%, 0%);
  opacity: 0;
  width: 0px;
  height: 0px;
  margin: -1px;
  overflow: hidden;
}

.input-file-label,
.custom-btn {
  font-size: calc(12 * var(--viewport-multiplier));
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
font-size: calc(var(--viewport-multiplier)12px);
color: var(--color-c5);
background-color: var(--color-c1a);
border-radius: 5px;
border-width: 2px;
text-decoration: none;

}

.custom-btn:hover {
  color: white;
  background-color: var(--color-c1a-trans);
}

#upload-thumbnail {
  max-height: 50px;
  max-width: 50px;
}

/* FORM STYLES */
form,
form div {
  width: 100%;
}

input {
  background-color: rgba(204, 204, 204, 0);
  border: none;
  border-bottom: 1px solid black;
  margin: 4vh;
  width: 60%;
  text-align: center;
}

/* SUB COMPONENTS */
.sub-comp-section {
  width: 95%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
}

.sub-comp-outer-div {
  background-color: var(--color-c5);
  height: 125px;
  width: 45%;
  min-width: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  border-width: 0px;
  border-style: solid;
  padding: 0.1vw;
  margin: 0.7vw;
}

.sub-comp-inner-div {
  /* background-color: var(--color-c1); */
  background-image: url(./assets/images/rpt-preview-bg.png);
  background-size: cover;
  background-position: right bottom;
  width: 100%;
  height: 100%;
  position: static;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  border-width: 0px;
  border-style: solid;

}

.rpt-preview-div {
  font-size: calc(12 * var(--viewport-multiplier));
}

.rpt-preview-div img {
  background-color: white;
  border: 2px solid var(--color-c2);
  border-radius: 3px;
  width: 30%;
  height: 80%;
  margin: 1.4vh;
  object-fit: cover;
}

.rpt-preview-text-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
  height: 95%;
  max-width: 65%;
  font-size: calc(16 * var(--viewport-multiplier));
  overflow: hidden;

}

.rpt-preview-pet-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  max-width: 90%;
  height: 50%;
  font-size: calc(var(--viewport-multiplier) 28px);
  font-weight: bold;
  vertical-align:bottom;
  text-shadow: -1px -1px 3px rgb(70, 70, 70), 1px -1px 3px rgb(70, 70, 70), -1px 1px 3px rgb(70, 70, 70), 1px 1px 3px rgb(70, 70, 70);
}

.rpt-preview-last-seen {
  margin-top: calc(var(--viewport-multiplier)*7px);
  color: var(--color-c1a-trans);
  max-width: 80%;
  height: 50%;
  font-size: calc(var(--viewport-multiplier) 18px);
  text-align: justify;
}






.poster-title {
  font-weight: lighter;
  color: white;
  position: absolute;
  top: 24vh;
  width: 80%;
  background-color: var(--color-c1a-trans);
  text-shadow: -1px -1px 1px var(--color-c2), 1px -1px 1px var(--color-c2), -1px 1px 1px var(--color-c2), 1px 1px 1px var(--color-c2);

}

.dash-sub-comp-outer-div {
  background-color: var(--color-c5);
  height: 80vh;
  width: calc(95% - 3px);
  min-width: calc(9% - 3px);
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  border-width: 0px;
  border-style: solid;
  padding: 5px;
}

.dash-sub-comp-inner-div {
  background-color: var(--color-c5);
  /* background-image: url(./assets/images/rpt-preview-bg.png); */
  background-size: cover;
  background-position: right bottom;
  width: 100%;
  height: 100%;
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border-width: 0px;

}

.rpt-dashboard-div {
  font-size: calc(var(--viewport-multiplier) * 24px);
}

.rpt-dashboard-div img {
  background-color: white;
  border: 2px solid var(--color-c2);
  border-radius: 3px 3px 0 0;
  width: 100%;
  height: 30vh;
  /* margin: 1.4vh; */
  object-fit: cover;
  object-position: 50% 25%;;
}

.rpt-dashboard-pet-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  max-width: 90%;
  /* height: 30%; */
  font-size: calc(var(--viewport-multiplier) 48px);
  font-weight: bold;
  text-shadow: -1px -1px 3px rgb(70, 70, 70), 1px -1px 3px rgb(70, 70, 70), -1px 1px 3px rgb(70, 70, 70), 1px 1px 3px rgb(70, 70, 70);
}

.rpt-dashboard-text-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
  /* height: 95%; */
  max-width: 65%;
  font-size: calc(16 * var(--viewport-multiplier));
  overflow: hidden;

}

.rpt-dashboard-last-seen {
  color: var(--color-c1a-trans);
  max-width: 80%;
  font-size: calc(var(--viewport-multiplier) 16px);
  text-align: justify;
}






Link {
  background-color: brown;
}

/* CREATE_REACT_APP BOILERPLATE*/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 15s linear;
    width: 100px;
    height: 100px;
  }
}

.App-header {
  /* background-color: #282c34; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* .logout-info-class,
.signup-class,
.signup-form,
.home-class,
.dashboard-class,
.all-reports-class,
.login-class,
.single-report-class,
.create-report-class {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
} */


.footer-class {
  z-index: 1;
  display: relative;
  height: 2vh;
}

.footer-class p {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -20%);
  z-index: 2;
  display: relative;
  color: var(--color-c2-trans);
  font-size: calc(var(--viewport-multiplier) * 16px);

}

.footer-img {
  /* z-index: 5; */
  max-height: 20vh;
  min-width: 110vw;
  position: fixed;
  bottom: 0;
  right: -100px;
  z-index: 1;
  opacity: 0.4;
}



/* Mobile Resizing */

@media (max-width: 1100px) and (min-width: 701px) {
  .outer-div {
    position: relative;
    width: 60vw;
    min-height: 80vh;
    padding: 10px;
  }

  .tablet-navbar {
    display: flex;
  }

  .laptop-navbar,
  .mobile-navbar {
    display: none;
  }
}

@media (max-width: 700px) and (min-width: 481px) {
  .outer-div {
    position: relative;
    width: 75vw;
    height: 85vh;
    padding: 10px;
  }

  .tablet-navbar {
    display: flex;
  }

  .laptop-navbar,
  .mobile-navbar {
    display: none;
  }


  .homepage-dog {

    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .sub-comp-outer-div {
    width: 100%;
    min-width: 200px;
  }
}

@media (max-width: 480px) {
  .outer-div {
    position: relative;
    width: 90vw;
    height: 70vh;
    padding: 6px;
  }

  .mobile-navbar {
    display: flex;
  }

  .tablet-navbar,
  .laptop-navbar {
    display: none;
  }

  .homepage-dog {

    height: 100%;
    width: 100%;
    max-height: none;
    max-width: none;
    object-fit: cover;
  }

  .sub-comp-outer-div {
    width: 100%;
    min-width: 150px;
  }

  .rpt-preview-text-div>p+p {
    font-size: calc(var(--viewport-multiplier) * 20px);
  }
}

@media (max-width: 425px) {}

@media (max-width: 395px) {}

@media only screen and (max-width: 300px) {}


/* SCREEN RESIZING FACTOR ADJUSTMENT */
@media screen and (max-width: 100px) and (max-height: 700px) {
  :root {
    --viewport-multiplier: 0.4;
  }
}

@media screen and (max-width: 200px) and (max-height: 700px) {
  :root {
    --viewport-multiplier: 0.5;
  }
}

@media screen and (max-width: 300px) and (max-height: 900px) {
  :root {
    --viewport-multiplier: 0.2;
  }
}

@media screen and (max-width: 400px) and (max-height: 900px) {
  :root {
    --viewport-multiplier: 0.8;
  }
}

@media screen and (min-width: 400px) and (max-height: 900px) {
  :root {
    --viewport-multiplier: 0.9;
  }
}

@media screen and (min-width: 600px) and (max-height: 900px) {
  :root {
    --viewport-multiplier: 1.0;
  }
}

@media screen and (min-width: 800px) and (max-height: 900px) {
  :root {
    --viewport-multiplier: 1.1;
  }
}

@media screen and (min-width: 1100px) and (max-height: 900px) {
  :root {
    --viewport-multiplier: 1.2;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --viewport-multiplier: 1.2;
  }
}

@media screen and (min-width: 1300px) {
  :root {
    --viewport-multiplier: 1.3;
  }
}

@media screen and (min-width: 1400px) {
  :root {
    --viewport-multiplier: 1.4;
  }
}

@media screen and (min-width: 1500px) {
  :root {
    --viewport-multiplier: 1.5;
  }
}

@media screen and (min-width: 1700px) {
  :root {
    --viewport-multiplier: 1.6;
  }
}